body{
  background-color: #2c3e50;
  overflow: hidden;
  color: white;
}

.form, .greetings, .toDoForm, .toDoList{
  opacity: 0;
  transition: 0.5s;
  height: 0;
}

.showing{
  opacity: 1;
  transform: translateX(0);
  height: auto;
}


@keyframes fadeIn{
  from{
      opacity: 0;
  }
  to{
      opacity: 1;
  }
}

.bgImage{
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  min-width: 1000px;
  min-height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
  filter: brightness(70%);
}

button{
  background-color: rgba(0,0,0,0);
  border: 0;
}

.toDoDone{
  text-decoration: line-through;
}